<html>
	<head><title>Web Guesser</title>
	</head>
	<body>
    <!-- <h1>
      <%= instruction %>
    </h1 -->
		<form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
		</form>
		<p>
		  <%= message %>
		</p>
	</body>
</html>
