<html>
	<head><title>Web Guesser</title>
    <style>
      body {
        background: <%= background %>;
      }
    </style>
	</head>
	<body>
    <h2> <%= instruction %> </h2>
		<form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
		</form>
		<p>
		  <%= message %>
		</p>
	</body>
</html>
